@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

body {
    font-family: "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
    margin-top: 10px;
    background-color: rgb(236, 236, 236);
}

.footer {
    margin-top: 10px;
    background-color: rgb(236, 236, 236);
    height: 200px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.btn-navbar, .btn-footer {
    color: rgb(29, 90, 10);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 11px;
}

.copyright {
    color: rgb(107, 165, 90);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 10px;
}

.logo {
    height: 55px;
}


.logofooter{
    height: 30px;
    float: left;
}

.nav-item {
    max-height: auto;
    max-width: 100px;
}

.socialmedia {
    height: 15px;
}

.btn-socialmedia {
    float: right;
}

.btn-currency {
    background-color: rgb(98, 128, 42);
    margin-left: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 12px;
    border-radius: 5px;
    border-style: none;
    box-shadow:2px 1px 3px 1px rgb(184, 184, 184);
}

.input-currency {
    color: rgb(51, 51, 51);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
    border-style: none;
    box-shadow:2px 1px 3px 1px rgb(184, 184, 184);
}

.currency-converter-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: hidden;
    box-shadow:2px 2px 5px 2px rgb(184, 184, 184);
    margin: 3%;
    padding: 1% 3%;
}

.title {
    color: rgb(98, 128, 42);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.th-currency {
    color: rgb(29, 29, 29);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}

.td-currency {
    color: rgb(29, 29, 29);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.table-currency {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: hidden;
    box-shadow:2px 2px 5px 2px rgb(184, 184, 184);
    padding-top: 50px;
}

.navbar-toggler-icon {
    background-color: rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
}

.navbar-right {
    justify-content: right;
    flex-basis: 0 !important;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar-left {
    justify-content: left;
    display: flex !important;
    flex-basis: 0 !important;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

.navbar-brand {
    margin: auto;
    justify-self: center;
    flex-basis: 0 !important;
    flex-grow: 1;
    flex-shrink: 1;
}

#navbarMenuSmall {
    flex-direction: row;
}

#myChart {
    position: relative;
    height: 50vh;
}
